/PythonRefresher/10-Data[[:space:]]Analysis[[:space:]]With[[:space:]]Python/10.5-matplotlib.ipynb filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/10-Data[[:space:]]Analysis[[:space:]]With[[:space:]]Python/10.6-seaborn.ipynb filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/bin/bunzip2 filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/bin/bzcat filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/bin/bzip2 filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/bin/infocmp filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/bin/kadmin filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/bin/openssl filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/bin/python3.12 filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/bin/sqlite3 filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/bin/tic filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/bin/xz filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/conda-meta/debugpy-1.8.11-py312h313beb8_0.json filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/conda-meta/ipython-9.3.0-pyhfa0c392_0.json filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/conda-meta/jedi-0.19.2-pyhd8ed1ab_1.json filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/conda-meta/ncurses-6.4-h313beb8_0.json filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/conda-meta/pip-25.1-pyhc872135_2.json filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/conda-meta/prompt-toolkit-3.0.51-pyha770c72_0.json filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/conda-meta/pygments-2.19.1-pyhd8ed1ab_0.json filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/conda-meta/python-3.12.0-h99e199e_0.json filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/conda-meta/setuptools-78.1.1-py312hca03da5_0.json filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/conda-meta/tk-8.6.14-h6ba3021_1.json filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/conda-meta/tzdata-2025b-h04d1e81_0.json filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/include/X11/keysymdef.h filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/include/curses.h filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/include/krb5/krb5.h filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/include/openssl/evp.h filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/include/openssl/obj_mac.h filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/include/openssl/ssl.h filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/include/openssl/x509v3.h filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/include/python3.12/internal/pycore_global_objects_fini_generated.h filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/include/sqlite3.h filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/include/tclDecls.h filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/include/tclInt.h filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/Tk.icns filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/itcl4.2.4/libitcl4.2.4.dylib filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/krb5/plugins/kdb/db2.so filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/krb5/plugins/preauth/pkinit.so filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/krb5/plugins/preauth/spake.so filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/libbz2.1.0.8.dylib filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/libbz2.a filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/libc++.1.0.dylib filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/libcrypto.3.dylib filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/libedit.0.dylib filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/libexpat.1.10.2.dylib filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/libexpat.a filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/libffi.8.dylib filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/libformw.6.dylib filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/libformw.a filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/libgssapi_krb5.2.2.dylib filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/libgssrpc.4.2.dylib filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/libk5crypto.3.1.dylib filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/libkadm5clnt_mit.12.0.dylib filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/libkadm5srv_mit.12.0.dylib filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/libkdb5.10.0.dylib filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/libkrb5.3.3.dylib filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/liblzma.5.6.4.dylib filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/libncurses++w.a filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/libncursesw.6.dylib filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/libncursesw.a filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/libpython3.12.dylib filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/libreadline.8.2.dylib filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/libreadline.a filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/libsodium.26.dylib filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/libsqlite3.0.dylib filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/libssl.3.dylib filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/libtcl8.6.dylib filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/libtinfow.6.dylib filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/libtinfow.a filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/libtk8.6.dylib filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/libz.1.2.13.dylib filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/libz.a filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/libzmq.5.dylib filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/_pydecimal.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/argparse.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/config-3.12-darwin/Makefile filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/doctest.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/email/_header_value_parser.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/ensurepip/_bundled/pip-23.2.1-py3-none-any.whl filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/idlelib/configdialog.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/inspect.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/lib-dynload/_asyncio.cpython-312-darwin.so filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/lib-dynload/_codecs_cn.cpython-312-darwin.so filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/lib-dynload/_codecs_hk.cpython-312-darwin.so filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/lib-dynload/_codecs_jp.cpython-312-darwin.so filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/lib-dynload/_codecs_kr.cpython-312-darwin.so filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/lib-dynload/_codecs_tw.cpython-312-darwin.so filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/lib-dynload/_ctypes.cpython-312-darwin.so filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/lib-dynload/_curses.cpython-312-darwin.so filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/lib-dynload/_datetime.cpython-312-darwin.so filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/lib-dynload/_decimal.cpython-312-darwin.so filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/lib-dynload/_elementtree.cpython-312-darwin.so filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/lib-dynload/_pickle.cpython-312-darwin.so filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/lib-dynload/_socket.cpython-312-darwin.so filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/lib-dynload/_sqlite3.cpython-312-darwin.so filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/lib-dynload/_ssl.cpython-312-darwin.so filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/lib-dynload/_testcapi.cpython-312-darwin.so filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/lib-dynload/_testclinic.cpython-312-darwin.so filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/lib-dynload/_tkinter.cpython-312-darwin.so filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/lib-dynload/math.cpython-312-darwin.so filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/lib-dynload/unicodedata.cpython-312-darwin.so filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/pydoc.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/pydoc_data/topics.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/IPython/core/completer.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/IPython/core/interactiveshell.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/dateutil/zoneinfo/dateutil-zoneinfo.tar.gz filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/debugpy/_vendored/pydevd/_pydevd_bundle/_debug_adapter/debugProtocol.json filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/debugpy/_vendored/pydevd/_pydevd_bundle/_debug_adapter/pydevd_schema.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/debugpy/_vendored/pydevd/_pydevd_bundle/pydevd_cython.c filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/debugpy/_vendored/pydevd/_pydevd_bundle/pydevd_cython.cpython-312-darwin.so filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/debugpy/_vendored/pydevd/_pydevd_frame_eval/pydevd_frame_evaluator.c filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/debugpy/_vendored/pydevd/_pydevd_sys_monitoring/_pydevd_sys_monitoring_cython.c filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/debugpy/_vendored/pydevd/_pydevd_sys_monitoring/_pydevd_sys_monitoring_cython.cpython-312-darwin.so filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/debugpy/_vendored/pydevd/pydevd.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/debugpy/_vendored/pydevd/pydevd_attach_to_process/winappdbg/breakpoint.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/debugpy/_vendored/pydevd/pydevd_attach_to_process/winappdbg/process.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/debugpy/_vendored/pydevd/pydevd_attach_to_process/winappdbg/win32/advapi32.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/debugpy/_vendored/pydevd/pydevd_attach_to_process/winappdbg/win32/kernel32.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/debugpy/_vendored/pydevd/pydevd_attach_to_process/winappdbg/win32/peb_teb.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/jedi-0.19.2.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/jedi/third_party/typeshed/stdlib/3/tkinter/__init__.pyi filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/pip/_vendor/certifi/cacert.pem filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/pip/_vendor/distlib/t64-arm.exe filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/pip/_vendor/distlib/t64.exe filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/pip/_vendor/distlib/w64-arm.exe filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/pip/_vendor/distlib/w64.exe filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/pip/_vendor/idna/uts46data.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/pip/_vendor/pkg_resources/__init__.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/pip/_vendor/rich/_emoji_codes.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/pip/_vendor/rich/console.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/pip/_vendor/typing_extensions.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/pkg_resources/__init__.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/pygments/lexers/_cocoa_builtins.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/pygments/lexers/_lasso_builtins.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/pygments/lexers/_lilypond_builtins.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/pygments/lexers/_php_builtins.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/pygments/lexers/lisp.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/pygments/lexers/matlab.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/setuptools/_vendor/backports/tarfile/__init__.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/setuptools/_vendor/inflect/__init__.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/setuptools/_vendor/more_itertools/more.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/setuptools/_vendor/typing_extensions.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/setuptools/config/_validate_pyproject/fastjsonschema_validations.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/tornado/test/web_test.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/tornado/web.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/traitlets/traitlets.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/typing_extensions.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/wcwidth/table_wide.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/wcwidth/table_zero.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/site-packages/zmq/backend/cython/_zmq.cpython-312-darwin.so filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/tarfile.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/tkinter/__init__.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/turtle.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/typing.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/unittest/mock.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/python3.12/urllib/request.py filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/sqlite3.44.2/libsqlite3.44.2.dylib filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/tcl8.6/clock.tcl filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/tcl8.6/encoding/cp936.enc filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/tcl8.6/encoding/cp949.enc filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/tcl8/8.5/tcltest-2.5.7.tm filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/tcl8/8.6/http-2.9.8.tm filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/tdbcodbc1.1.7/libtdbcodbc1.1.7.dylib filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/thread2.8.9/libthread2.8.9.dylib filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/lib/tk8.6/demos/images/teapot.ppm filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/sbin/kadmin.local filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/sbin/kadmind filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/sbin/kdb5_util filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/sbin/krb5kdc filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/share/doc/xz/NEWS filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/share/info/readline.info filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/share/locale/de/LC_MESSAGES/mit-krb5.mo filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/share/locale/ka/LC_MESSAGES/mit-krb5.mo filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/share/zoneinfo/tzdata.zi filter=lfs diff=lfs merge=lfs -text
/PythonRefresher/venv/ssl/cacert.pem filter=lfs diff=lfs merge=lfs -text
