[submodule "githubDockerWrokflow"]
	path = githubDockerWrokflow
	url = https://github.com/prc1s/githubDockerWrokflow
[submodule "Heart-Disease-Prediction"]
	path = Heart-Disease-Prediction
	url = https://github.com/prc1s/Heart-Disease-Prediction
